/* ////////////////// */
/* Section to affect ALL pages */
html {
    height: 100%;
    font-family: sans-serif;
}

body {
    background-color: hsla(0, 1%, 33%, 0.816);
    height: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: hsl(0, 0%, 20%);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: hsl(0, 0%, 95%);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: hsl(0, 0%, 87%);
    color: hsl(0, 0%, 0%);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: lightseagreen;
    color: hsl(0, 0%, 100%);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: hsl(204, 4%, 24%);
    color: white;
    text-align: center;
  }

/* ////////////////// */
/* Affects Index Page */

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5));
  
    /* Set a specific height */
    height: 65%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: 0% 15%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: hsl(0, 0%, 100%);
}

#index-intro {
    margin-left: 20%;
    margin-right: 20%;

}

#index-h1 {
    text-align: center;
    font-style: bold;
    font-size: 3em;
}

#index-p1 {
    font-size: 1em;
}

/* ////////////////// */
/* Affects SG1 Page */



/* ////////////////// */
/* Affects SGA Page */



/* ////////////////// */
/* Affects SGU Page */


/* ////////////////// */
/* Affects About Page */
